name: BlockSight CI

on:
  push:
    branches: 'master'

jobs:
  build: 
    runs-on: ubuntu-latest

    strategy:
      matrix: 
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v1
      - env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - run: yarn
      - run: yarn deploy